.container{
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #171738;
    display: flex;
    text-align: center;
    padding-left: 50px;
    margin-top: 40px;
}

.content{
    display: flex;
    gap: 150px;
    margin-top: 30px;
    text-align: center;
    margin-left: 20px;
}

p{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}